html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
}



:root {
  --primary-color: #010046d3;
}

.app-container {
  overflow: auto;
}

/** Login and Register **/

fieldset {
  background-color: white;
  border: 0;
  border-radius: 10px;
}

.new-user-text {
  color: var(--primary-color);
  text-align: center;
  font-size: 10px;
}

.footer-container {
  padding: 10%;
}

.footer-auth {
  color: white;
  font-size: 10px;
}

 .header-auth {
  color: white;
  text-align: center;
  font-size: 25px;
}

.header-form {
  font-size: 20px;
  color: var(--primary-color);
}

.container-fields-auth {
  text-align: center;
}

.form-auth {
  display: inline-block;
  width: 0%;
  margin-right: 350px;
}

.input-auth {
  width: 300px;
  padding: 5px;
  border: 1px solid gray;
  box-shadow:  0 0 15px 3px rgba(0, 0, 255, 0.1);
  margin: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

.input-auth-submit, .input-auth-demo, .input-auth-register {
  border: 0;
  width: 90%;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;

  background-color:#6fc26c;
  color: white;
}

.input-auth-demo {
  width: 50%;
  background-color: #000000
}

.input-auth-register {
  width: 40%;
  background-color: var(--primary-color);
}

.input-auth-submit:hover, .new-button:hover, .new-button-member:hover, .new-ticket:hover, .delete-ticket:hover, .input-auth-demo:hover, .input-auth-register:hover {
  opacity: 0.9;
}

.new-button:active {
  background-color: #4281f5;
}

/** App Sidebar **/

.sidebar-wrapper {
  position: absolute;
  float: left;
  border-radius: 3px;
  text-align: center;
  background-color: white;
  width: 9%;
  min-width: 75px;
  height: 98vh;
}

.sidebar-h1 {
  padding-top: 25px;
  padding-bottom: 35px;
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
}


.sidebar-logout, .new-button, .new-button-member, .new-ticket, .delete-ticket {
  border: 0;
  color: white;
  background-color: rgb(158, 45, 45);
  border-radius: 6px;
  width: 80%;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.new-button, .new-button-member, .new-ticket, .new-project-btn {
  background-color: var(--primary-color);
}

.sidebar-logout:hover, .decline-button:hover {
  opacity: 0.9;
}
.sidebar-link:visited, .sidebar-link {
  text-decoration: none;
  color: gray;
}

.sidebar-link:hover {
  color: #1f56bb;
}

.sidebar-text, .sidebar-welcome {
  text-align: center;
  color: gray;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-welcome {
  color: var(--primary-color);
  font-weight: 700;
  cursor: default;
}

span {display: block;}


/** User info**/

.user-stat {
  font-size: 16px;
  color: var(--primary-color);
}

.user-info {
  color: gray;
  font-weight: 500;
}

.user-container {
  padding-bottom: 15px;
}


/** background div in every page **/
.home-wrapper, .project-view-container, .tickets-wrapper, .account-wrapper {
  left: 0px;
  bottom: 0px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  width: 90%;
  min-width: 500px;
  height: 98vh;
  float: right;
  text-align: center;
  position: sticky;
  overflow: auto;
}

/** home header **/ 
.home-h1, .project-view-name, .tickets-h1 {color:var(--primary-color); font-weight: 600; font-size: 27px;}

/** Projects **/

.project-name, .project-desc, .project-author, .td-team, .ticket-name, .ticket-type, .ticket-date, .ticket-info-td
{
  text-align: left;
  margin-left: 25px;
  font-size: 13px;
  padding-bottom: 25px;
  padding-top: 10px;
  border-radius: 6px;
  color: rgb(61, 60, 60);
}


.ticket-name {
  padding-left: 25px;
}

.project-name, .project-name:visited, .ticket-name{
   color:var(--primary-color);
   font-size: 13px;
   font-weight: bold;
   text-decoration: none;
  }

.project-name:hover, .ticket-name:hover {
  color: #1f56bb;
  cursor: pointer;
}

.projects-h2, .project-team-header, .tickets-h2, .project-tickets-h4, .project-tickets-view-h4, .no-selected-h4 {
   margin-left: 25px;
   margin-bottom: 25px;
   color: black;
   padding-top: 15px;
   font-size: 15px;
   text-align: left;
  }

.projects-container, .tickets-container, .user-container {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  max-height: 500px;
  width: parent;
  border-radius: 6px;
  max-height: 80vh;
  overflow: auto;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.1);
}

.projects-container {
  max-height: 375px;
}

.project-container {
  background-color: white;
  width: 50% parent;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 6px;
  cursor: pointer;

}

.projects-table, .team-table, .tickets-table, .ticket-info-table {
  max-height: calc(50vh - 25%);
  margin-left: 10px;
  margin-right: 15px;
}

.th1, .th3, .th2, .th-project, .ticket-info-th{
  margin-right: 15px;
  margin-left: 25px;
  border-color: gray;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: gray;
  text-align: left;
}

.th1 {
  width: 250px;
  float: left;
}

.th2 {
  width: 600px;
}

.th3 {
  width: 150px;
}


/** Project page **/

.project-team-container{ 
  padding: 1%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 1%;
  max-height: 38%;
  max-width: 950px;
  min-width: 350px;
  border-radius: 6px;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.1);
  overflow: auto;
  margin-bottom: 1%;
}

.td-team {
  padding-right: 35px;
  padding-left: 15px;
  text-align: center;
}

.th-project {
  padding-left: 15px;
}

.new-button-member, .new-ticket, .delete-ticket {
  width: 100px;
  height: 25px;
  float: left;
}

.tickets-project-container {
  padding: 1%;
  margin-bottom: 1%;
  margin-right: 25px;
  margin-left: 25px;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.15);
  max-width: 950px;
  min-width: 350px;
  float: left;
  max-height: 740px;
  overflow: auto;
  border-radius: 6px;
}


.ticket-view-container {
  padding: 1%;
  bottom: 2%;
  max-width: 950px;
  max-height: 38%;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.1);
  border-radius: 6px;
  overflow: auto;
}

.project-tickets-view-h4 {
  text-align: left;
  margin-left: 25px;
}


.no-selected-h4 {
  text-align: left;
  margin-left: 25px;
  color: gray;
}

.ticket-info-td, .ticket-info-th {
  padding-left: 25px;
  max-width: 250px;
}

/** ManageTicket **/

.manage-ticket, .create-project, .confirm-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-ticket-inner, .create-project-inner, .confirm-inner-container {
  position: relative;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  justify-content: center;
  align-items: left;
  border-radius: 6px;
}

.create-project-inner, .confirm-inner-container {
  position:relative;
}

.manage-ticket-inner, .create-project-inner, .confirm-inner-container{
  position: absolute;
  top: 50px;
}


.manage-ticket-h4, .new-project-h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}

.input-ticket-title, .input-ticket-desc, .input-ticket-time, .input-project-title, .input-project-desc {
  width: 350px;
  margin: 5px;
  display: block;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid gray;
}

/* Used only for managing tickets and projects*/
textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
}

.manage-label, .manage-label-options, .new-project-label {
  display: block;
  padding: 15px;
  font-size: 13px;
  font-weight: 500;
}

.manage-label-options {
  display: inline-block;
}

.input-ticket-option {
  border: 1px solid gray;
  border-radius: 3px;
  display: block;
  margin: 5px;
  padding: 7px;
}

 .decline-button, .save-button, .decline-button, .confirm-button {
  text-align: center;
  margin: 15px;
  padding: 7px 15px 7px 15px;
  border-radius: 6px;
  border: 0;
  color: #FFF;
  cursor: pointer;
  
}

.save-button, .confirm-button {
  background-color: #6fc26c;
  border-bottom: rgb(87, 163, 77) 2px solid;
  border-left: rgb(87, 163, 77) 1px solid;
  border-right: rgb(87, 163, 77)1px solid;
  float: right;
}

.decline-button {
  float: left;
  background-color: rgb(158, 45, 45);
  border-bottom: rgb(102, 23, 23) 2px solid;
  border-left: rgb(102, 23, 23) 1px solid;
  border-right: rgb(102, 23, 23)1px solid;
}

.save-button:hover, .confirm-button:hover {
  opacity: 0.8;
}

.create-project, .confirm-container {
  z-index: 1;
}

.modal-close-btn {
  right: 500px;
  position: absolute;
  color: red;
  z-index: 2;
  top: 20px;
  right: 0;
}

.asd {
  background-color: red;
}

/* Confirm and alerts */

.confirm-inner-container {
  width: 250px;
}

.confirmation-h2 {
  font-weight: 500;
  color: var(--primary-color)
}
.confirmation-h4 {
  font-size: 17px;
  color: black;
  font-weight: 500;
}

.confirmation-p {
  font-weight: 500;
}

.alert-container {
  margin: 1% 10% 1%;
  border-radius: 6px;
  background-color:rgba(158, 52, 52, 0.2);
  text-align: center;
  max-width: 100%;
  border: 1px solid red;
}

.alert-text {
  margin: 1px;
  color: red;
  padding: 5px;
}

.confirm-inner-container {
    text-align: center;
}

.ticket-charts-container {
  padding-bottom: 25px;
  background-color: white;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  width: parent;
  border-radius: 6px;
  height: 360px;
  overflow: auto;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.1);
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.type-chart, .priority-chart, .status-chart {
  width: 250px;
  max-height: 250px;
}
