h1 {
  text-align: center;
}

.loginForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

label {
  padding: 10px;
}

input {
  padding: 5px
}

.loginDiv {
  display: block;
  text-align: center;
}


h4 {
  text-align: center;
}

.newUserText {
  text-align: center;
}
