html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #4281f5;
}

/** Login and Register **/

fieldset {
  background-color: white;
  border: 0;
  border-radius: 15px;
}

.new-user-text {
  color: var(--primary-color);
  text-align: center;
  font-size: 10px;
}

.footer-container {
  padding: 10%;
}

.footer-auth {
  color: white;
  font-size: 10px;
}

 .header-auth {
  color: white;
  text-align: center;
  font-size: 25px;
}

.header-form {
  font-size: 20px;
  color: var(--primary-color);
}

.container-fields-auth {
  text-align: center;
}

.form-auth {
  display: inline-block;
  width: 0%;
  margin-right: 350px;
}

.input-auth {
  width: 300px;
  padding: 5px;
  border: 0;
  box-shadow:  0 0 15px 4px rgba(0, 0, 255, 0.1);
  margin: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.input-auth-submit {
  border: 0;
  width: 125px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;

  background-color: var(--primary-color);
  color: white;
}

.input-auth-submit:hover, .new-button:hover, .new-button-member:hover {
  background-color: #1f56bb;
}

/** App Sidebar **/

.sidebar-wrapper {
  position: absolute;
  float: left;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  width: 175px;
  height: 97vh;
}

.sidebar-h1 {
  padding-top: 25px;
  padding-bottom: 35px;
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
}


.sidebar-logout, .new-button, .new-button-member {
  border: 0;
  color: white;
  background-color: rgb(158, 45, 45);
  border-radius: 6px;
  width: 125px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.new-button, .new-button-member {
  background-color: var(--primary-color);
}

.sidebar-logout:hover {
  background-color: rgb(124, 14, 14);
}
.sidebar-link:visited, .sidebar-link {
  text-decoration: none;
  color: gray;
}

.sidebar-link:hover {
  color: #1f56bb;
}

.sidebar-text {
  text-align: center;
  color: gray;
  font-size: 13px;
  cursor: pointer;
}

span {display: block;}

/** background div in every page **/
.home-wrapper, .project-view-container {
  left: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 6px;
  min-width: 90%;
  height: 97vh;
  float: right;
  text-align: center;
}

/** home header **/ 
.home-h1, .project-view-name {color:var(--primary-color); font-weight: 500; font-size: 25px;}

/** Projects **/



.project-name, .project-desc, .project-author, .td-team {
  margin-left: 25px;
  font-size: 13px;
  text-align: left;
  padding-bottom: 25px;
  padding-top: 10px;
  border-radius: 6px;
  color: rgb(61, 60, 60);
}

.project-name, .project-name:visited{
   color:var(--primary-color);
   font-size: 13px;
   font-weight: bold;
   text-decoration: none;
  }

.project-name:hover {
  color: #1f56bb;
  cursor: pointer;
}

.projects-h2, .project-team-header {
   margin-left: 25px;
   margin-bottom: 25px;
   text-align: left;
   color: black;
   padding-top: 15px;
   font-size: 15px;
  }

.projects-container {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  width: parent;
  height: 200px;
  border-radius: 6px;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.15);
}
.project-container {
  background-color: white;
  width: 50% parent;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 6px;
  cursor: pointer;

}

.projects-table, .team-table {
  max-height: calc(50vh - 25%);
  margin-left: 10px;
  margin-right: 15px;
}

.th1, .th3, .th2, .th-project {
  margin-right: 15px;
  margin-left: 25px;
  border-color: gray;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  color: gray;
  text-align: left;
}

.th1 {
  width: 250px;
  float: left;
}

.th2 {
  width: 600px;
}

.th3 {
  width: 400px;
}

/** Project page **/

.project-team-container { 
  margin-left: 50px;
  width: 30%;
  border-radius: 6px;
  box-shadow:  0 0 15px 2px rgba(0, 0, 255, 0.15);
}

.td-team {
  padding-right: 35px;
  padding-left: 15px;
}

.th-project {
  padding-left: 15px;
}

.new-button-member {
  float: left;
  width: 100px;
  height: 25px;
}

