html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #4281f5
}


/** Login and Register **/

fieldset {
  background-color: white;
  border: 0;
  border-radius: 15px;
}

.new-user-text {
  color: #4281f5;
  text-align: center;
  font-size: 10px;
}

.footer-container {
  padding: 10%;
}

.footer-auth {
  color: white;
  font-size: 10px;
}

 .header-auth {
  color: white;
  text-align: center;
  font-size: 25px;
}

.header-form {
  font-size: 20px;
  color: #4281f5
}

.container-fields-auth {
  text-align: center;
}

.form-auth {
  display: inline-block;
  width: 0%;
  margin-right: 350px;
}

.input-auth {
  width: 300px;
  padding: 5px;
  border: 0;
  box-shadow:  0 0 15px 4px rgba(0, 0, 255, 0.1);
  margin: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.input-auth-submit {
  border: 0;
  width: 125px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;

  background-color: #4281f5;
  color: white;
}
